@{
    ViewData["Title"] = "Failed to Fetch Data";
}

<h1>Error</h1>
<p>The resource is either unavailable or forbidden to access by this service. Please try copying the site content into the text input manually.</p>